/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

pre {
   margin-block: 0;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  --config-ff: "Roboto Mono", monospace;
  --bg-dark: hsl(0, 0%, 90%);
  --bg: hsl(0, 0%, 95%);
  --bg-light: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 5%);
  --text-muted: hsl(0, 0%,30%);
  --accent: hsl(16, 100%, 67%);
  --border: hsl(0, 0%, 30%);
  --gradient: linear-gradient: (0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient: (0deg, var(--bg), var(--bg-light));
  --hightlight: hsl(0, 0%, 100%);
  --border-card: solid 1px var(--bg);
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
}

body {
  background: var(--bg-dark);
  color: var(--text-muted);
}

h1, h2 {
  font-weight: 400;
  color: var(--text);
}

h2 {
  margin: 0;
}

.gridcontainer {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(12, 1fr);
}

label {
  color: var(--text);
}

textarea, #output, input, button {
  outline: none;
  background: var(--bg);
  padding: 0.5rem 1rem 0.7rem 1rem;
  border-radius: 0.5rem;
  border: var(--border-card);
  border-top: solid 1px var(--hightlight);
  box-shadow: var(--shadow);
}

textarea, #output, input {
  color: var(--text);
  font-family: var(--config-ff);
}

button {
  cursor: pointer;
  color: var(--accent);
  transition: transform 0.1s ease;
}

button:active {
  transform: scale(0.98) translateY(2px);
}

input:hover, input:focus, button:focus, button:hover {
  background: var(--gradient-hover);
}

textarea, #output {
  width: 100%;
  height: auto;
  padding: 1rem 1rem 1rem 1rem;
}

#output {
  white-space: pre-wrap;
}

#output .highlight {
  color: var(--accent);
  font-weight: 600;
}

input {
  width: 90%;
}

.title {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 12;
}

.subtitle {
  margin-top: -1em;
}

.notes {
  grid-row-start: 2;
  grid-column-start: 10;
  grid-column-end: 12;
}

.webex-input,
.cucm-input {
  grid-row-start: 2;
  margin-bottom: -1em;
}

.webex-input {
  grid-column-start: 2;
  grid-column-end: 5;
}

.webex-input-otgdtg,
.webex-input-lineport,
.cucm-input-cucm1 {
  grid-row-start: 3;
}

.webex-input-proxy,
.webex-input-username,
.cucm-input-cucm2 {
  grid-row-start: 4;
}

.webex-input-registrar,
.webex-input-password {
  grid-row-start: 5;
}

.webex-input-otgdtg,
.webex-input-proxy,
.webex-input-registrar {
  grid-column-start: 2;
  grid-column-end: 4;
}

.webex-input-lineport,
.webex-input-username,
.webex-input-password {
  grid-column-start: 4;
  grid-column-end: 6;
}

.cucm-input {
  grid-column-start: 7;
  grid-column-end: 9;
}

.cucm-input-cucm1,
.cucm-input-cucm2 {
  grid-column-start: 7;
  grid-column-end: 9;
}

.generate {
  grid-row-start: 6;
  grid-column-start: 2;
  font-size: 150%;
}

.copy {
  grid-row-start: 8;
  grid-column-start: 11;
  grid-column-end: 12;
}

.copy button {
  font-size: 80%;
  margin-top: 1em;
}

.config-title {
  grid-row-start: 7;
  grid-column-start: 2;
  grid-column-end: 9;
}

.config-output {
  grid-row-start: 8;
  grid-column-start: 2;
  grid-column-end: 12;
}

.footer {
  grid-row-start: 9;
  grid-column-start: 2;
  grid-column-end: 9;
}

.promotion {
  grid-row-start: 10;
  grid-column-start: 2;
  grid-column-end: 9;
  margin-bottom: 2em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    /* white-space: pre-wrap !important; */
  }
  pre,
  blockquote {
    /* border: 1px solid #999; */
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
